#f23{
    /* background-color: rgb(186, 161, 239); */
    color: blue;
    background-color: orchid;
}
#f34{
    color: springgreen;
}


.yellow{
    background-color: rgb(12, 241, 35);
}
.red{
    background-color: red;
}
