div{
    background-color: rgb(113, 113, 215);
}
span{
    background-color: red;
}
p{
    background-color: aqua;
}
a{
    background-color: rgb(5, 246, 70);
}
img{
    background-color: blue;
    color: aqua;
}